* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #114b5f;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav-link {
  display: inline-block;
  margin: 1em;
  color: white;
  text-decoration: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Nav bar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.7em 0;
}

#nav {
  background-color: #2f738a;
  color: white;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

#nav div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.site-title {
  letter-spacing: 0.1em;
  font-size: 20px;
  margin: auto;
}

.site-title a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #ffa4a2;
}

.nav-button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}

.menu-drop-down-btn {
  margin: auto;
  padding: 5px 7px;
  font-size: 16px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  outline: none;
}

.menu {
  position: absolute;
  background-color: #2e738a;
  top: 36px;
  right: 80px;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 50;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menu li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ffa4a2;
  width: 100%;
}

.menu li a {
  color: #d5f3ff;
  width: 100%;
}

.account-div {
  width: 30px;
  height: 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: auto;
}

.account-div img {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 2;
}

/* */
.main-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1em;
}

/* ----------------------
PromptGenerator component
------------------------- */

.main-content-prompt-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.cta-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% auto;
}

.cta-div h1 {
  margin: 0;
}

.cta-div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.prompt-action-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prompt-wrapper-div {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #205f74;
  border-radius: 4px;
  padding: 15px 25px;
  background: white;
}

.prompt p {
  letter-spacing: 0.5px;
  border-bottom: 1px solid lightgrey;
}

.btn {
  padding: 7px 11px;
  font-size: 14px;
  letter-spacing: 0.8px;
  margin-left: 7px;
  margin-top: 10px;
  background-color: #2e738a;
  color: white;
  border: 1px solid #205f74;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.get-prompt-btn {
  padding: 7px 11px;
  font-size: 14px;
  letter-spacing: 0.8px;
  margin-left: 7px;
  margin-top: 10px;
  background-color: #2e738a;
  color: white;
  border: 1px solid #205f74;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* ----- v1 styles ------ */

/* .heading-div {
  /* padding-left: 40px; */
/* border-bottom: 1px solid #ffedf0;
  background-color: rgba(46, 115, 138, 0.3); */
/* background-color: rgba(255, 237, 240, 0.5);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
} */

.heading-div h2 {
  font-size: 24px;
}

.body-content {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* width: 85%;
  margin: 10px auto; */
}

.section-small {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  flex: 1 0 30%;
  margin-right: 1em;
}

.section {
  flex: 4 0 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-left: 1em;
}

.section-small h3 {
  margin-top: 0;
}

#small-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 214, 211, 0.2);
  padding: 20px;
  border: 1px solid #ffd6d3;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
}

.generate-btn {
  padding: 14px 10px;
  /* margin: 10px 20px; */
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  background-color: #2e738a;
  color: white;
  border: 1px solid #2e738a;
  letter-spacing: 0.8px;
  font-size: 14px;
}

.generate-btn:hover {
  border: 1px solid #114b5f;
  background-color: #114b5f;
  color: #cfd7e6;
}

/* SAVED PROMPT VIEW STYLES*/

.prompt-list-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* SINGLE PROMPT CARD STYLES*/

.single-prompt-div {
  padding: 10px;
  border: 1px solid #b4deed;
  border-radius: 4px;
  margin: 0.7rem;
  width: 50%;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.single-prompt-div p {
  font-size: 14px;
  margin: 5px;
  letter-spacing: 0.01rem;
}

/*
------ MY ACCOUNT COMPONENT STYLES
*/

.profile-wrapper-div {
  display: flex;
  flex-direction: column;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 20px;
  min-height: 82px;
}

.profile-section h4 {
  margin: 10px 0;
}

.email-update-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffa4a2;
}

.display-email {
  padding: 7px 10px;
  font-size: 14px;
}

#email-update-input {
  flex-grow: 3;
  padding: 5px 7px;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #cfd7e6;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(207, 215, 230, 0.4);
}

#email-update-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-left: 10px;
}

.inline {
  border: 1px solid #cfd7e6;
  color: #cfd7e6;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.inline:hover {
  background-color: #114b5f;
  border: 1px solid #114b5f;
}

.password-update-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-update-form label {
  font-size: 12px;
  font-weight: 700;
  padding: 7px 10px;
  margin-bottom: 5px;
}

.account-input {
  padding: 5px 7px;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #cfd7e6;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(207, 215, 230, 0.4);
}

.password-update-form hr {
  margin: 10px;
}

.update-password-btn {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  width: 30%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #ffedf0;
  border: 1px solid #ffd6d3;
  border-radius: 4px;
  cursor: pointer;
}

.update-password-btn:hover {
  border: 1px solid #114b5f;
  background-color: #114b5f;
  color: #cfd7e6;
}

/*
  WRITING EDITOR COMPONENT
*/

.editor-wrapper {
  min-height: 400px;
  border: 1px solid #b4deed;
  margin: 20px 10px;
  padding: 15px;
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.editor-controls-wrapper {
  margin-bottom: 7px;
  border-bottom: 1px solid #ffd6d3;
  padding-bottom: 10px;
}

.DraftEditor-root {
  height: 100%;
  overflow-y: auto;
}

/* .public-DraftEditorPlaceholder-root {

} */

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

/* .DraftEditor-editorContainer {
  min-height: 400px;
} */

.public-DraftEditor-content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
