* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
  text-decoration: none;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Nav bar */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav {
  background-color: #8eacbb;
  color: white;
}

#nav div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.site-title {
  letter-spacing: 0.1em;
}

/* PromptGenerator component */
.main-content-prompt-div {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  width: 20%;
}

.generate-btn {
  padding: 14px 10px;
}

.prompt-wrapper-div {
  display: flex;
  flex-direction: column;
}

.prompt-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.prompt-div p {
  font-family: 'Lobster', cursive;
  display: block;
  font-size: 1.5em;
  margin: 0;
  letter-spacing: 1px;
  /* line-height: 1.5; */
  background-image: linear-gradient(
    transparent 50%,
    #e1fffe 50%,
    #b0f8ff 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  /* animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards; */
  animation: animatedBackground 2s 0.5s forwards;
}

@keyframes animatedBackground {
  to {
    background-size: 100% 100%;
  }
}
